:root {
    --font-color: #fff;
    --base-color: #f3f3f3;
    --primary: #473801;
    --secondary: #fcfaeb;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
p {
    margin-bottom: 0 !important;
}

ol,
ul {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    background-color: var(--base-color);
    color: var(--font-color);
}

.app {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    /* grid-gap: 3rem; */
}

.cta {
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    padding: 1rem 2.5rem;
    border: 2px solid #beab32;
    background-color: #beab32;
    transition: 0.1s ease;
}

.cta:active {
    transform: scale(0.95);
}

.nav {
    padding: 1.5rem 3rem;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-auto-rows: min-content;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
}

.nav__logo {
}

.nav__box {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav__link,
.nav__link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    color: #f9f5c8;
    transition: 0.1s ease;
}

.nav__link:hover {
    color: #decf5a;
}

.nav__link.nav-redirect {
    font-weight: 700;
    border-bottom: 2.5px solid transparent;
}

.nav__link.nav-redirect:hover {
    border-bottom: 2.5px solid #decf5a;
}

.nav__link.nav-btn {
    padding: 1rem 3.5rem;
    font-size: 2rem;
    font-weight: 700;
    color: #beab32;
    border: 1.5px solid #beab32;
    border-radius: 5px;
    transition: 0.2s ease;
}

.nav__link.nav-btn:hover {
    background-color: #beab32;
    color: #fff;
}

.nav__link.nav-btn:active {
    transform: scale(0.95);
}

.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    justify-items: center;
    align-items: center;
}

.header__banner,
.header__box {
    grid-column: 1/2;
    grid-row: 1/2;
}

.header__banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__box {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    justify-items: center;
    text-align: center;
    width: 60%;
    grid-gap: 3rem;
    margin-top: 8rem;
    z-index: 2;
}

.header__title {
    font-size: 5rem;
    font-weight: 700;
}

.header__subtitle {
    font-size: 2.5rem;
    font-weight: 500;
}

.header__box-btn {
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    gap: 3rem;
    align-items: center;
}

.header__cta,
.header__cta:visited {
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    padding: 1rem 2.5rem;
    border: 2px solid #beab32;
    background-color: transparent;
    transition: 0.1s ease;
}

.header__cta:first-child {
    background-color: #beab32;
}

.header__cta:active {
    transform: scale(0.95);
}

.header__preview {
    transform: translateY(5rem);
    border: none;
    outline: none;
    border-radius: 10px;
}

.sponsor {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5rem;
    justify-items: center;
    padding: 10rem 0;
}

.sponsor__title {
    font-size: 2rem;
    font-weight: 400;
    color: #939393;
}

.sponsor__logo-box {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-auto-rows: min-content;
    grid-gap: 5rem;
}

.sponsor__logo {
    width: 18rem;
}

.benefit {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    justify-items: center;
    grid-gap: 5rem;
    padding: 8rem 9rem;
    background-color: var(--secondary);
}

.benefit__title {
    font-size: 2.5rem;
    font-weight: 600;
    color: #937e01;
}

.benefit__subtitle {
    font-size: 3.8rem;
    font-weight: 600;
    color: #000;
    text-align: center;
}

.benefit__desc {
    font-size: 2rem;
    font-weight: 400;
    color: #848484;
    text-align: center;
}

.benefit__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    grid-gap: 4rem;
    grid-row-gap: 5rem;
}

.benefit__tiles {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-auto-rows: min-content;
    grid-gap: 2rem;
    align-items: center;
}

.benefit__tiles img {
    width: 4rem;
}

.benefit__tiles h1 {
    font-size: 2.4rem;
    font-weight: 500;
    color: #000;
}

.benefit__tiles p {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 2rem;
    color: #848484;
    text-align: justify;
}

.community {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    justify-content: space-between;
    grid-gap: 3rem;
    padding: 0 9rem;
    background-color: var(--primary);
}

.community__box {
    padding: 5rem 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    align-content: center;
    grid-gap: 2rem;
    color: #fff;
}

.community__subtle {
    font-size: 2rem;
    font-weight: 500;
    color: #f9f5c8;
}

.community__title {
    font-size: 3.4rem;
    font-weight: 700;
}

.community__desc {
    font-size: 1.6rem;
    font-weight: 500;
}

.community__cta,
.community__cta:visited {
    text-decoration: none;
    color: #fff;
    padding: 1.5rem 2rem;
    border-radius: 5px;
    background-color: #beab32;
    font-size: 2rem;
    font-weight: 600;
    justify-self: start;
}

.community__img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.course {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-gap: 3rem;
    padding: 8rem 9rem;
}

.course__header {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-auto-rows: min-content;
    grid-gap: 3rem;
}

.course__box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 85%;
}

.course__subtle {
    font-size: 2.5rem;
    font-weight: 600;
    color: #937e01;
}

.course__title {
    font-size: 3rem;
    font-weight: 600;
    color: #000;
}

.course__desc {
    font-size: 2rem;
    font-weight: 400;
    color: #848484;
}

.course__cta {
    align-self: end;
}

.course__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}

.course__card {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-gap: 2rem;
    padding: 2rem 3rem;
    border-radius: 8px;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.1);
}

.course__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.course__card h1 {
    font-size: 2.2rem;
    font-weight: 700;
    color: #0a0a0a;
}

.course__card p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #989b9e;
}

.course__detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    align-items: center;
}

.course__detail span {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 400;
    color: #5d5f60;
}

.course__detail span img {
}

.course__gutter {
    width: 100%;
    height: 2px;
    background-color: #dfe4f7;
    border-radius: 2px;
}

.course__card-transaksi {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-items: center;
}

.course__harga {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.course__harga-coret {
    text-decoration: line-through;
    font-size: 1.4rem;
    font-weight: 500;
    color: #989b9e;
}

.course__harga-asli {
    font-size: 2.4rem;
    font-weight: 700;
    color: #d22912;
}

.course__card-cta {
    font-size: 1.4rem;
}

.event {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 4rem;
    padding: 8rem 9rem;
    background-color: #fcfaeb;
}

.event h1 {
    font-size: 3rem;
    font-weight: 600;
    color: #000;
}

.event__title {
}

.event__desc {
    font-size: 2rem;
    font-weight: 400;
    color: #848484;
    text-align: center;
}

.event__cta {
}

.event__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}

.event__card {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-gap: 2rem;
    padding: 2rem 3rem;
    border-radius: 8px;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.1);
}

.event__card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event__card h1 {
    font-size: 2.2rem;
    font-weight: 700;
    color: #0a0a0a;
}

.event__tipe,
.event__tanggal {
    font-size: 1.4rem;
    color: #989b9e;
}

.event__tipe {
    font-style: italic;
}

.event__detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.event__tanggal {
    font-weight: 500;
}

.event__click {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.event__click span {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: #000;
}

.footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    justify-items: center;
    grid-gap: 10rem;
    padding: 8rem 9rem;
    color: #dedede;
    background-color: #374b05;
}

.footer__box {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-gap: 8rem;
}

.footer__profile {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
}

.footer__profile img {
}

.footer__profile p {
    width: 80%;
    font-size: 2rem;
    font-weight: 400;
    text-align: justify;
}

.footer__icons {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.footer__icons img {
}

.footer__navigasi {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.footer__navigasi h1 {
    font-size: 2.8rem;
    font-weight: 600;
}

.footer__navigasi a,
.footer__navigasi a:visited {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #dedede;
    font-size: 1.6rem;
    font-weight: 500;
}

.footer__navigasi a:hover {
    text-decoration: underline;
}

.footer__navigasi img {
}

.footer__copyright {
    font-size: 2rem;
    font-weight: 400;
    color: #f4f4f4;
}

.login-form {
    background-color: white;
    width: 460px;
    height: 473px;
    position: absolute;
    margin-left: 250px;
    margin-top: 200px;
    padding-top: 32px;
    padding-left: 32px;
}

.text-login {
    position: absolute;
    right: 50px;
    bottom: 80px;
    color: white;
}

.text-login_1 {
    padding-bottom: 27px;
    margin-right: 170px;
}

.login-bg {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.form-login {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.form-login label {
    font-size: 16px;
    color: #444444;
    font-weight: 600;
}

.form-login input {
    width: 396px;
    height: 48px;
    border-radius: 5px;
    border-color: #939393;
    margin-top: 8px;
    margin-bottom: 8px;
}

.form-login input::placeholder {
    font-size: 13px;
}

.login-form button {
    width: 396px;
    height: 50px;
    margin-top: 32px;
    border-radius: 5px;
    background-color: #BEAB32;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

/* register style */

.register-bg {
    width: 100%;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: cover;
}

#passChar {
    font-size: 13px;
    margin-top: -5px;
}

.sign_in {
    font-size: 13px;
}

.register-form {
    background-color: white;
    width: 460px;
    height: 675px;
    position: absolute;
    margin-left: 250px;
    margin-top: 150px;
    padding-top: 32px;
    padding-left: 32px;
}

.form-register {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.form-register label {
    font-size: 16px;
    color: #444444;
    font-weight: 600;
}

.form-register input {
    width: 396px;
    height: 48px;
    border-radius: 5px;
    border-color: #939393;
    margin-top: 8px;
    margin-bottom: 8px;
}

.form-register input::placeholder {
    font-size: 13px;
}

.register-form button {
    width: 396px;
    height: 50px;
    margin-top: 32px;
    border-radius: 5px;
    background-color: #BEAB32;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.text-register {
    position: absolute;
    right: 200px;
    bottom: 80px;
    color: white;
}

.register-login__logo {
    position: absolute;
    margin: 39px 0 0 38px;
}